@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clash/ClashDisplay-Extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clash/ClashDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clash/ClashDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clash/ClashDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clash/ClashDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clash/ClashDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-clash: "ClashDisplay", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;

  --color-bg-primary: #08090a;
  --color-quaternary: #28282c;
  --color-card-gray: #1e1f21;

  --color-denary: #aaaaaa;
  --color-senary: #22c55e;
  --color-renary: #eab308;
  --color-grey01: #101011;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .padding-x {
    @apply px-6 md:px-10 lg:px-16;
  }

  .section-padding {
    @apply px-6 md:px-10 lg:px-16 py-10;
  }

  .padding-x-2 {
    @apply px-4 md:px-6 lg:px-10;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-green-500 via-yellow-500 to-green-500 bg-clip-text text-transparent;
  }

  .section-container {
    @apply max-w-[1200px] mx-auto px-6 md:px-10 lg:px-16 py-10 w-full;
  }

  .section-con {
    @apply max-w-[1200px] mx-auto px-6 md:px-10 lg:px-16 w-full;
  }

  .stack {
    display: grid;
  }

  .stack > * {
    grid-area: 1 / 1; /* stack everything on top of each other */
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  @keyframes school-scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .slide-track {
    display: flex;
    gap: 2.5rem; /* same as gap-10 in Tailwind */
    animation: school-scroll 60s linear infinite;
    width: max-content;
  }

  .tilted-image {
    transform: perspective(2900px) rotateX(25deg) rotateY(-15deg);
    transform-origin: center;
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
  }

  .tilted-image:hover {
    transform: rotateX(25deg) rotateY(-15deg) scale(1.01);
  }

  .screenshot-container {
    perspective: 1500px;
  }

  .screenshot {
    transform: rotateX(15deg) rotateY(20deg);
    border-radius: 12px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .screenshot:hover {
    transform: rotateX(10deg) rotateY(15deg) scale(1.02);
  }

  .con-l1 {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .con-l2 {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
  }

  .bleed-l1 {
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    left: 50%;
    right: 50%;
  }

  .con-l3 {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    --Sidebar-width: 260px;
    width: 100%;
  }

  .con-l4 {
    contain: strict;
    perspective: 4000px;
    perspective-origin: 100% 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: relative;
  }

  .con-l4-base {
    background: var(--color-bg-primary);
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #1e1e1e;
    border-radius: 10px;
    max-width: 1600px;
    height: 900px;
    margin: 200px auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(2%) scale(1.2) rotateX(47deg) rotateY(31deg)
      rotate(324deg);
  }

  .con-l4-threeD {
    transform-style: preserve-3d;
  }

  .con-l5 {
    height: 100%;
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 8px;
  }
}

.glow-box {
  box-shadow: 0 0 30px 40px rgba(34, 197, 94, 0.1);
}

.glow-border {
  border-color: hsl(var(--primary));
  box-shadow: 0 0 20px hsl(var(--primary) / 0.3);
}

.dashboard-preview-container {
  perspective: 4000px;
  transform-style: preserve-3d;
  perspective-origin: 100% 0;
}

.dashboard-preview-container-inner {
  transform: translate(2%) scale(1.2) rotateX(47deg) rotateY(31deg)
    rotate(324deg);
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flashcards-container {
  perspective: 2000px;
  perspective-origin: 50%;
  width: 100%;
  height: 100%;
}

.flashcard-card {
  transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg)
    translateZ(calc(-1 * 180px)) translateX(calc(10% + 3%)) translateY(-15%);
  transform-style: preserve-3d;
  transition: 0.32s var(--ease-out-quad);
  transition-property: transform, background;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
